<div class='span3'>

  <div class="side">
    <p style="margin: 5px 0px 3px 15px; color: green; font-size: 14px;"><%= current_user.total_points %> Points</p>
    <ul class="nav nav-list">
    	<li class=""><h5>Hola, <%= current_user.name %></h5></li>
      <li style="padding-bottom: 6px;"><a href="/users/edit">Change Password</a></li>
    </ul>

    <ul class="nav nav-list">
    	<li class=""><h5>Practices</h5></li>
      <li style="padding-bottom: 6px;"><a href="/sentence_failures">Sentence Failures</a></li>
    </ul>
  </div>

</div>
