


<script type="text/x-handlebars" id="sentence">
  {{subject}}
  <p><input type="text" name="subject" id="subject" class='translation_box' /></p>
  <button {{action 'check'}} id='check_btn' class='btn' disabled="disabled">Check</button>
  <button {{action 'continue'}} id='continue_btn' class='btn' disabled="disabled">Continue</button>

</script>






