<script type="text/x-handlebars", id="sentences">
  <div class='container-fluid'>
    <div class='row-fluid'>
      <div class='span3'>
        <table class='table'>
          
          {{#each sentence in filteredContent}}
          <tr>
            <td>
              {{sentence.content}}
            </td>
          </tr>
          {{/each}}
        </table>
      </div>

    </div>
  </div>
</script>


