<div class="span8" style="margin: 20px 0px 0px 9px;">
  <h5>
    <a href="/sentence_failures">&gt Sentence Failures</a>
  </h5>
  
  <span id="practice_error_count" style="color: red;"><%= @user_exercise.error_count %></span> errors,
  <span id="practice_done_count"><%= @user_exercise.done_count %></span> done
</div>
