<% unless @practice.nil? %>
	<%= render 'top', :practice => @practice %>
<% end %>

<div class="well" style="margin: 100px 0px 0px 0px;">
  <h5><span style="color: red;"><%= @user_exercise.error_count %></span> errors, got 
  <span class="number"><%= @user_exercise.points %></span>
 points</h5>

</div>