<%= render 'top', :practice => @practice %>

<div class="well" style="margin: 100px 0px 0px 0px;">
  <p><%= @user_practice.error_count %> errors</p>

  <p>Got total <%= @user_practice.points %> points</p>
</div>