<div class="span8" style="margin: 20px 0px 0px 9px;">
  <h5>
    &gt <%= lesson.category.name %> / 
    <a href="/lessons/<%= lesson.id %>"><%= lesson.name %></a>
  </h5>
  
  <%= render 'practices/top_status' %>
</div>
