
<p>{{subject}}</p>
<p><input type="text" name="subject" id="subject" class='translation_box' style="height: 35px;" /></p>
<button {{action 'check'}} id='check_btn' class='btn' disabled="disabled">Check</button>
<button {{action 'continue'}} id='continue_btn' class='btn' disabled="disabled">Continue</button>

<div class="row-fluid" style="margin-top: 30px;">

<p id="correct_box">You are correct</p>
<p id="wrong_box">Oops, that’s wrong</p>
</div>
