
<p>{{subject}}</p>
<p><input type="text" name="subject" id="subject" class='translation_box' style="height: 35px;" /></p>
<button {{action 'check'}} id='check_btn' class='btn' disabled="disabled">Check</button>
<button {{action 'continue'}} id='continue_btn' class='btn' disabled="disabled">Continue</button>

<div class="row-fluid" style="margin-top: 30px;">

  <div class="span6" id="correct_box">
    <p class="alert alert-success">You are correct</p>
  </div>

  <div class="span6" id="wrong_box">
    <p class="alert alert-error">Oops, that’s wrong</p>
  </div>

</div>
