/* Put your CSS here */
html, body {
    margin: 20px;
}


.black {
  color: black;
}

.ember-text-field, .ember-text-area {
  width: 100%;
}

.translation_box {
  height: 100px;
}

#correct_box, #wrong_box {
  display: none;
}


.ember-view {
  margin: 0 auto;
  width: 580px;
  padding-top: 50px;

}


.number {
  font-size: 12px;
  color: green;
}

.report_text {
  margin-bottom:10px; 
  float: left;
}