/* Put your CSS here */
html, body {
    margin: 20px;
}

.black {
  color: black;
}

.ember-text-field, .ember-text-area {
  width: 100%;
}

.translation_box {
  width: 500px;
  height: 100px;
}

.ember-view {
  margin: 0 auto;
  width: 580px;
  padding-top: 50px;
}