/* Put your CSS here */
html, body {
  margin: 20px;
}

.hr {
}

.black {
  color: black;
}

.side {
  border: 1px solid #E3E3E3;
  background-color: #F5F5F5;
  margin-top: 12px;
}

.ember-text-field, .ember-text-area {
  width: 100%;
}

.translation_box {
  height: 100px;
}

#correct_box, #wrong_box {
  display: none;
}


.ember-view {
  padding-top: 30px;
}


.number {
  font-size: 12px;
  color: green;
}

.report_text {
  margin-bottom:10px; 
  float: left;
}